/* Front Page */

.project {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-image {
  overflow: hidden;
  img {
    width: 100%;
  }
}

.description { 
  color: $deep1;
  display: block; 
  height: 100px;
  text-align: center;
}

/* Detail Page */

#project-detail {
  .project-title {
    padding-top: 5px;
    border-bottom: 1px solid $deep1;
  }
}

.pagination {
  padding-top: 25px;
}

.image-detail {
  padding: 10px 10px 20px 10px;
}

.description-detail {
  padding: 20px 10px;
  p:not(:first-child) {
    padding-left: 30px;
    padding-right: 30px;
  }
}












