/* Front Page */

.project {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-image {
  overflow: hidden;
  img {
    width: 100%;
  }
}

.description { 
  color: $deep1;
  display: block; 
  height: 100px;
  text-align: center;
}

/* Detail Page */

.project-title {
  padding-top: 5px;
}

.image-detail {
  padding: 10px 10px 20px 10px;
}

.description-detail {
  padding-bottom: 20px;
}












