.project {
  height: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project-image {
  overflow: hidden;
  height: 240px;
  img {
    width: 100%;
  }
}

.description { 
  color: $deep1;
  display: block; 
  border-top: 1px solid $red;
  height: 100px;
  text-align: center;
}







